.contenedor{
    width:100%;
    background-color: #E4F6DE;
    margin-bottom: 20px;
    padding: 10px 100px;
    color: #295969;
}

h1{
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn{
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
}