<table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        
        <th scope="col">Nombre</th>
        <th scope="col">Especie</th>
        <th scope="col">Años</th>
        <th scope="col">Fundación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mascota of mascotas; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{mascota.nombre }}</td>
        <td>{{mascota.especie}}</td>
        <td>{{mascota.edad}}</td>
        <td>{{mascota.fundacion}}</td>
        <td><button type="button" class="btn btn-outline-danger" (click)="eliminarMascota(mascota.idmascotas)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>