<!-- CSS -->
<link rel="stylesheet" href="header.component.css">

<div class="body" >
    <!-- BANNER -->
    <div class= "header"></div>
    <!-- NAV MENU -->
    <nav>
        <ul>
            
            <a href="index.html" class="nav_items">Tin Pets</a>
            <a href="peluditos.html" class="nav_items" >Peluditos</a>
            <a href="fundaciones.html" class="nav_items">Fundaciones</a>
            <a href="donaciones.html" class="nav_items">Donaciones</a>
            <a href="iniciar_sesion.html" class="nav_items">Iniciar Sesion</a>
            <a href="registrarse.html" class="nav_items">Registrarse</a>
        </ul>
    </nav>


</div>
