/* ---- GENERAL ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .body {
    background-color: #E4F6DE;
    position: relative;
    min-height: 100vh;
} */



/* ------ TYPOGRAPHY ------ */
body {
    font-family: 'Ruluko', sans-serif;
}
.nav_items {
    font-size: 25px;
}

/* --- HEADER --- */
.header{
    height: 220px;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* --- NAV MENU --- */

nav {
    background-color: white;
    /* background-color: #A0D5E7; */
    padding: 10px;
}
nav ul {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_items {
    margin:  auto;
    padding: 2px 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #295969;
    text-decoration: none;
    background-color: #A0D5E7;
}

.nav_items:hover{
    background-color: #A0C5E7;
}




